doctype
html(lang="es")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="")
    meta(name="keywords" content="")
    meta(name="author" content="")
    meta(name="robots" content="")

    title Gulp
    
    link(rel="stylesheet" type="text/css" href="css/dist/styles.css")

  body
    section(class="main_container")
      header
        h1 Titulo
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis est dolores commodi ullam tempora sequi asperiores ipsum autem ex aliquam. Voluptatibus unde, excepturi at perferendis incidunt ea eaque rerum autem?