h1 hola mundo
p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam esse odio, ad rerum. In eaque voluptas, repellat reiciendis ex odio quia. Distinctio aperiam maiores, itaque ullam, inventore laudantium sequi a.
ul
  li: a(href="asd") link 1
  li: a(href="asd") link 2
  li: a(href="asd") link 3
  li: a(href="asd") link 4
  li: a(href="asd") link 5